---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">My Music Career</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="My First Song"
      subtitle="Started produced from 2018 to 2019 at Moshi Rau studio"
    />
    <TimeLineElement
      title="My Second Song"
      subtitle="2020 to 2021 move from Moshi to Dar es Salaam for collaborations with other artists"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Songs</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Nitampata Wapi"
      subtitle="Produced in 2018 at Rau Studio"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Komasava"
      subtitle="Produced in 2019 at Rau Studio under Zombie"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Yule"
      subtitle="Produced in 2020 at Makomando Studion in Dar es Salaam under Nako DJ"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Performances I made</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li><b>Moshi Festival - Conducted in 2021 under CocaCola sponsorship</b></li>
    <li><b>Fiesta Dodoma - Conducted in 2022 under Tigo and Clouds Media sponsorship</b></li>
    <li><b>Nyama Choma Festival - Conducted in 2023 at Ushirika Stadium</b></li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Genres I can Sing</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Pop songs</li>
    <li>RnB</li>
    <li>Hip Hop</li>
  </ul>
</BaseLayout>
