---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey fan 👋</div>
    <div class="text-5xl font-bold">I'm Shemdoe Hermano</div>
    <div class="text-3xl py-3 font-bold">Musician from Moshi Kilimanjaro Tanzania</div>
    <div class="py-2">
      <text class="text-lg">
        Welcome to Shemdoe's Official Music Portfolio! Based in Moshi, Kilimanjaro, Tanzania, Shemdoe's music blends local rhythms with contemporary sounds. Discover original compositions, performances, and collaborations that highlight Shemdoe's talent and passion. Dive into the artistry and creativity of Shemdoe's musical journey and experience the soulful sounds of Moshi!
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="mailto:shemdoe@yandex.com" target="_blank"> Book Me!</a>
      <a href="https://instagram.com/shemdoe" target="_blank" class="btn btn-outline ml-5">
        My Instagram
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest Songs by Shemdoe</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/music/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
